{% extends 'calificaciones/base.html' %}

{% block content %}
<div class="card">
    <div class="card-header bg-danger text-white">
        Confirmar eliminación
    </div>

    <div class="card-body">
        <p>¿Seguro que deseas eliminar esta calificación?</p>

        <form method="post">
            {% csrf_token %}

            <button type="submit" class="btn btn-danger">
                Eliminar
            </button>

            <a href="{% url 'listar_calificaciones' %}" class="btn btn-secondary">
                Cancelar
            </a>
        </form>
    </div>
</div>
{% endblock %}